*.txt
*.csv
/.vscode/
*.png
*.jpg
*.model
*.m
*.h5
*.pyc
*.pdf
*.docx
*.json
*.dat
*.prototxt
*.caffemodel
*.zip
*.data-00000-of-00001
*.index
self_mode.pb
teachable_model.pb
keras_metadata.pb
saved_model.pb
*.pbtxt
checkpoint
*.xml
*.bin
*js